.holder{
    display: flex;
    justify-content:end;
    width: 50vw;
    border:solid;
    height: 50px;
    font-size: 32px;
}
.writen-words{
    color:grey;
    overflow:hidden;
    max-width: 50%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.current-word{
    text-align: right;
    align-self: stretch;
    margin-left:8px;
    color:blue;
}
.words-to-write{
    min-width: 50%;
    max-width: 50%;
    overflow: hidden;
    display: flex;
    justify-self:center;
}
.wrong-word{
    text-decoration: line-through;
}
.writen-words span{
    margin-left:8px;
}

.words-to-write span{
    margin-right: 8px;
}