:root{
    --input-height:2.3em;
    --input-width:70vw;
}
.input-field{
    margin:auto;
    margin-top:13vh;
    display: flex;
    justify-content:end;
    width: var(--input-width);
    height: var(--input-height);
    font-family: Merriweather,serif;
    line-height: var(--input-height);
    font-size:3.5em;
    background-color: white;
    border-radius: 13px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.writen-words{
    color:grey;
    overflow:hidden;
    max-width: 50%;
    height: var(--input-height);
    display: flex;
    flex-direction: row-reverse;
}
.current-word{
    /*align-self: stretch;*/
    margin-left:8px;
    color:blue;
    max-width: 50%;
}
.words-to-write{
    min-width: 50%;
    max-width: 50%;
    overflow: hidden;
    display: flex;
    justify-self:center;
}
.wrong-word{
    text-decoration: line-through;
}
.writen-words span{
    margin-left:8px;
}
.words-to-write span{
    margin-right: 8px;
}

